# Ethereum Fraud Detection

## Import Packages and Read Data

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('train_accounts.csv')
df_test = pd.read_csv('test_accounts.csv')
df_transactions = pd.read_csv('transactions.csv')

In [9]:
train_list = df_train.account.to_list()
test_list = df_test.account.to_list()
whole_list = train_list + test_list

print('Training records:', len(train_list), 'Testing records', len(test_list))
print('Total records:', len(whole_list), len(set(whole_list)))

Training records: 25198 Testing records 6300
Total records: 31498 31498

## Exploratory Data Analysis & Preprocessing

In [5]:
df_transactions

,from_account,to_account,transaction_time_utc,value,gas,gas_price
0,a00996,b31499,2020-05-04 14:54:03,0,72585.0,1.150000e+10
1,a07890,b31500,2020-05-04 14:55:06,0,54426.0,1.134972e+10
2,a22857,b31501,2020-05-04 14:55:23,0,200000.0,1.402458e+10
3,a07890,b31502,2020-05-04 14:55:23,108900000000000000,21000.0,1.134972e+10
4,a21390,b31501,2020-05-04 14:56:05,0,149999.0,3.200000e+10
...,...,...,...,...,...,...
874980,a22154,b36904,2020-09-09 18:57:49,0,450000.0,9.373000e+10
874981,a27216,b156802,2020-09-09 19:15:27,0,350000.0,6.670000e+11
874982,a15828,b176682,2020-09-09 18:57:54,0,1256108.0,9.373000e+10
874983,a27216,b156802,2020-09-09 19:15:27,0,350000.0,1.900000e+11
874984,b316,NaN,NaN,NaN,NaN,NaN

In [16]:
# Flag Distribution
print(df_train.flag.value_counts())

0    22743
1     2455
Name: flag, dtype: int64

In [19]:
print(df_transactions.shape)
print(df_transactions.from_account.nunique(), df_transactions.to_account.nunique())

(874985, 6)
87799 80227

In [18]:
print(df_transactions.value.value_counts())

0                      611267
5000000000000000        10939
1000000000000000000      7580
7000000000000000         7036
20000000000000000        4896
                        ...
50188708000000000           1
1360140000000000            1
5057325114380703902         1
43757930000000000           1
37852270545577000           1
Name: value, Length: 142607, dtype: int64