# Ethereum Fraud Detection

## Import Packages and Read Data

In [1]:
import pandas as pd

In [2]:
df_train = pd.read_csv('train_accounts.csv')
df_test = pd.read_csv('test_accounts.csv')
df_transactions = pd.read_csv('transactions.csv')

## Exploratory Data Analysis & Preprocessing

In [3]:
df_test

     account
0     a27890
1     a29649
2     a28243
3     a07155
4     a15576
...      ...
6295  a19941
6296  a09327
6297  a10254
6298  a08928
6299  a03148

[6300 rows x 1 columns]